<%- include('common/header') %>

<title><%= title %></title>
<link rel="stylesheet" href="stylesheets/userInfo.css">
</head>

<body>

<div class="userInfo-page" id="userInfo">
    <div class="account-title">
        <h1 class="myaccount">My Account</h1>
    </div>
    <div class="user-info">
        <table class="center">
            <h2 class="title">The details of your account are listed below.</h2>
            <hr>
            <thead role="rowgroup">
            <tr role="row">
                <th role="columnheader">First Name</th>
                <th role="columnheader">Last Name</th>
                <th role="columnheader">Username</th>
                <th role="columnheader">Email Address</th>
                <th role="columnheader">Phone</th>
                <th role="columnheader">Gender</th>
                <th role="columnheader">Country</th>
                <th role="columnheader">City</th>
                <th role="columnheader">Date Register</th>
            </tr>
            </thead>
            <tbody role="rowgroup">
            <tr role="row">
                <td role="cell"><%= firstname %></td>
                <td role="cell"><%= lastname %></td>
                <td role="cell"><%= username %></td>
                <td role="cell"><%= email %></td>
                <td role="cell"><%= phone %></td>
                <td role="cell"><%= gender %></td>
                <td role="cell"><%= country %></td>
                <td role="cell"><%= city %></td>
                <td role="cell"><%= dateRegister %></td>
            </tr>
            </tbody>
        </table>
        <hr>
        <div class="buttons-container">
            <div class="delete-button">
                <button class="delete">Delete Account</button>
            </div>
            <div class="edit-button">
                <button class="edit" onclick="location.href = 'editDetails';">Edit Details</button>
            </div>
        </div>
        <hr>
        <div class="done-button">
            <button class="done-btn" onclick="location.href = '/';">Done</button>
        </div>
    </div>
</div>

<!--<%- include('common/footer') %>-->
